<h3>Heroe <small>{{heroe.nombre}}</small></h3>
<button [routerLink]="['heroes']" class="btn btn-outline-danger">
        Regresar
      </button>
<button (click)="agregarNuevo(forma)" type="button" class="btn btn-outline-success">
          Nuevo heroe
        </button>

<hr>


<div class="row animated fadeIn fast">
    <div class="col-md-12">

        <form (ngSubmit)="guardar()" #forma="ngForm">



            <div class="form-group">
                <label for="">Nombre</label>
                <input [(ngModel)]=" heroe.nombre" name="nombre" type="text" class="form-control" id="" placeholder="Nombre del heroe" required>

            </div>

            <div class="form-group">
                <label for="">Casa</label>
                <select [(ngModel)]="heroe.casa" name="casa" class="form-control">
        <option value="Marvel">Marvel</option>
        <option value="DC">DC</option>
      </select>

            </div>

            <div class="form-group">
                <label for="">Bio </label>
                <textarea [(ngModel)]="heroe.bio" name="bio" type="text" class="form-control" id="">
      </textarea>
            </div>

            <div class="form-group">
                <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
        Guardar cambios.
      </button>

            </div>
        </form>
        {{forma.valid}}

    </div>
</div>